@using Microsoft.Extensions.Options
@using FunnyQuotesCommon
@inject IOptionsSnapshot<FunnyQuotesConfiguration> Config
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pivotal CF Workshop | Welcome</title>
    <link rel="stylesheet" href="~/css/foundation.css" />
    <script src="~/js/modernizr.js"></script>
</head>
<body>


    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="./">Pivotal CF</a>
                </h1>
            </li>
        </ul>
        @if (Config.Value.EnableSecurity)
        {
            <div class="right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Home" asp-action="Login" class="button">Login</a>
                }
                else
                {
                    <a asp-controller="Home" asp-action="LogOff" class="button">Logoff</a>
                }
            </div>
        }
    </nav>
<div class="row">
    <div class="large-12" columns>
        <h3>Welcome to Pivotal CF - With .NET CORE</h3>
        <hr />
    </div>
</div>

        <div class="container body-content">
            @RenderBody()

        </div>
        <script src="~/js/jquery.js"></script>
        <script src="~/js/foundation.min.js"></script>
        <script>
        $(document).foundation();
        </script>


@*    </div>*@
</body>
</html>