@{
    ViewData["Title"] = "Home Page";
}
@model string

@section Scripts {
    <script>
        var serviceUrl = "@ViewBag.ServiceUrl";
        $("#btnFunnyQuotes").click(function() {
            $.ajax(serviceUrl + "api/FunnyQuotes/random")
                .success(function(result) {
                    $("#FunnyQuotes").html(result);
                });
        });

    </script>
}

<br/>
<table style="width: 50%;">
    <tr style="border: 3px double blue; height: 300px;">
        <td id="FunnyQuotes" colspan="2">@Model</td>
    </tr>
    <tr>
        <td colspan="2">
            <form asp-controller="Home" asp-action="FunnyQuotes" method="post">
                <button type="submit">Show me FunnyQuotes</button>
            </form>
            @*                <button id="btnFunnyQuotes">Show me FunnyQuotes</button>*@
        </td>
    </tr>
</table>